<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
        <title>Skeleton App</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
        <link href="css/style.css" type="text/css" rel="stylesheet" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="js/functions.js"></script>
  </head>
  <body style="background-image: url('images/skeleton.png'); padding: 10px">
    <!--/*@thymesVar id="it" type="org.tiogasolutions.skeleton.engine.resources.RootResource.IndexModel"*/-->
    <h1>Skeleton App</h1>

    <p th:if="${it.getMessage() == null}">Nice to meet you. Now go away.</p>

    <p th:if="${it.getMessage() != null}" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span th:text="${it.getMessage()}"></span>
    </p>

    <form method="post" action="sign-in" style="width: 300px">
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" type="email" name="email" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" class="form-control" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-default">Sign In</button>
    </form>

    <div style="margin: 3em 0 1em 0">
        <a href="api">Want to explore our REST API?</a><br/>
        If you do, the username is <strong>admin</strong><br/>and password is a <strong>secret</strong>.
    </div>

    <div style="margin-top: 3em; text-decoration: underline">Need an a count?</div>
    <div th:each="account : ${it.getAccounts()}">
        <a th:onclick="'$(\'#email\').val(\'' + ${account.getEmail()} + '\'); $(\'#password\').val(\'' + ${account.getPassword()} + '\'); return false;'" href="#">
            <span th:text="${account.getFirstName()}"></span>
            <span th:text="${account.getLastName()}"></span>
        </a>
    </div>

  </body>
</html>